{{ define "main" }}

<div class="container">
    {{ .Content }}

    <br />

    <div class="d-flex flex-row flex-wrap osc-gallery">
        {{ range $section := .Site.Data.gallery }}
        <div>
            <p class="lead">
                {{ .released }} - <a href="{{ .releaseURL }}" >{{ .header }} <i class="bi bi-github"></i></a>
            </p>

            <div class="d-flex flex-row flex-wrap">
                {{ range $asset := .assets }}
                    <div class="osc-screenshot">
                        {{ if .fileIsVideo }}
                            <a href="{{ .file }}">
                                {{ $posterFile := .file | strings.TrimSuffix  ".mp4" | strings.TrimSuffix ".webm" | printf "%s_thumbnail.jpg" }}
                                <video
                                    class="img-fluid rounded img-thumbnail"
                                    preload="none"
                                    poster="{{ $posterFile }}"
                                    width="480"
                                    height="270"
                                    controls>

                                    <source src="{{ .file }}">
                                </video>
                            </a>
                        {{ else }}
                            {{ $file := resources.Get .file }}
                            <a href="{{ $file.RelPermalink }}">
                                <img
                                    class="img-fluid rounded img-thumbnail"
                                    src="{{ ($file.Fill "480x270 jpg q90 Center").RelPermalink  }}"
                                    loading="lazy"
                                />
                            </a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
            <br />
        </div>
        {{ end }}
    </div>
</div>

{{ end }}
